@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Tutorial Case

   Columns Style Sheet
   Author: Aspen Smith
   Date:   11-19-19

   Filename:         dlr_columns.css

*/



/* Column Styles */

